/* header css start */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
h1,h2,h3,h4,h5,h6{
    font-family: "Libre Baskerville", serif;

}
a,p{
    font-family: "Roboto", sans-serif;
}

 header {
    background: black;
    padding: 20px 0px;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#teb li {
    display: inline;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo {
    display: flex;
    align-items: center;
}
.logo h1 {
    margin: 0;
    font-size: 26px;
    color: #f4f7fa;
}
#teb li {
    display: inline;
    margin: 0px 17px;
}
#teb a {
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.header-btn a {
    background: #ceaf7f;
    padding: 10px 25px;
    border-radius: 24px;
    font-size: 14px;
    margin: 0;
    color: white;
    transition: 0.5s;
}
.logo i {
    font-size: 20px;
    margin-right: 5px;
    color: #ceaf7f;
}
.header-btn a:hover {
    background: #c4ad88;
    color: white;
}
#bar,#close {
    display: none;
}

/* header css end */

/* home css start */
   #home {
    background: black;
}
.home-text span {
    background: color-mix(in srgb, #ceaf7f, transparent 75%);
    padding: 8px 35px;
    border-radius: 20px;
    color: #ceaf7f;
}
.opening-hours span {
    background: unset;
    color: white;
    font-weight: 500;
    padding: 0;
}
.home-text h2 {
    font-size: 56px;
    font-weight: 800;
    line-height: 77px;
    margin: 15px 0px;
    color: white;
}
.home-text p {
    color: white;
    font-size: 16px;
    line-height: 28px;
    padding: 0px 97px 0px 0px;
    margin-bottom: 20px;
}
.opening-hours {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.opening-hours i {
    color: #ceaf7f;
    margin: 2px 10px 0px 0px;
}
.btn-group {
    display: block;
    margin: 40px 0px;
}
a.btn-in-one {
    background: #ceaf7f;
    color: white;
    padding: 15px 40px;
    font-weight: 600;
    border-radius: 5px;
}
a.btn-in {
    background: none;
    border: 2px solid white;
    padding: 12px 30px;
    margin-left: 10px;
    color: white;
}

/* home css end */


@media (min-width:320px) and (max-width:767px) {

    /* header css start */
#teb {
    position: absolute;
    left: 18px;
    background: rgb(33 37 41 / 80%);
    top: 68px;
    width: 90%;
    padding: 10px 15px;
    display: none;
    z-index: 999;
    opacity: 1;
    border-radius: 5px;
}
#teb li {
    display: block;
    margin: 12px 0px;
}
.logo h1 {
    margin: 0;
    font-size: 22px;
    color: #f4f7fa;
}
.logo i {
    font-size: 17px;
    margin-right: 5px;
    color: #ceaf7f;
}
.m-icon{
     color: white;
}
#bar {
    display: block;
}
.header-btn {
    display: none;
}
#close {
    position: absolute;
    top: 45px;
    color: white;
    right: 20px;
    z-index: 999;
    opacity: 1;
}
#big-main{
    position: absolute;
    content: "";
    background: black;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
    display: none;
}

    /* header css end */
    
}